<nav class="navbar">
  <div id="menu_bar">
    <!-- Agregar aqui el resposive menu  -->
    <!-- <img src="img/menu.svg" alt="menu" id="menu_icon"> -->
    <!-- <h1><a href="#" id="title">Nahuel Calcara</a></h1> -->
  </div>
  <ul class="nav-links">
    <li><a (click)="onHome()" data-glitch="Inicio">Inicio</a></li>
    <li><a (click)="onEducation()" data-glitch="Formación">Formación</a></li>
    <li><a (click)="onProyects()" data-glitch="Proyectos">Proyectos</a></li>
    <li><a (click)="onContact()" data-glitch="Contacto">Contacto</a></li>
  </ul>
</nav>
