<app-navbar></app-navbar>
<div id="home">
    <div id="text">
        <p data-glitch="Nahuel Calcara" id="Calcara">Nahuel Calcara</p>
        <p data-glitch="Desarrollador web y de software">Desarrollador web y de software</p>
        <p data-glitch="Mar del Plata, Argentina">Mar del Plata, Argentina</p>
    </div>
    <div id="holo_card">
        <img src="assets/holo_card_bg.jpg" alt="me" id="holo_bg">
        <img src="assets/me.png" alt="me" id="me">
        <img src="assets/holo_card_front.png" alt="me" id="holo_front">
    </div>
</div>
<app-footer></app-footer>