#foot {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .foot-elem {
    box-sizing: border-box;
    width: 5vh;
    height: 5vh;
    border-radius: 0.4vw;
    margin: 0 1vw;
    &:hover {
      animation: glitch 1s ease-in-out infinite alternate;
      box-shadow: 0 0 1rem #fff, 0 0 1.5rem #fff,
        0 0 2.5rem #d400ff, 0 0 4rem #d400ff;
    }
    a {
      width: 6vh;
      box-sizing: border-box;
    }
  }
  
  #glt-lnk {
    background: url("/assets/icon-lnk.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  #glt-gth {
    background: url("/assets/icon-gth.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  @keyframes glitch {
    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    72%,
    100% {
      transform: skew(0);
    }
    41% {
      transform: skew(10deg);
      color: rgb(233, 199, 255);
    }
    42% {
      transform: skew(10deg);
    }
    59% {
      transform: skew(40deg) skew(10deg);
    }
    60% {
      transform: skew(-40deg) skew(-10deg);
      color: rgb(223, 255, 182);
    }
    63% {
      transform: skew(10deg) skew(-20deg);
    }
    70% {
      transform: skew(-50deg) skew(-20deg);
    }
    71% {
      transform: skew(10deg) skew(-10deg);
    }
  }
  