<app-navbar></app-navbar>
<div id="skills">
    <h1 data-glitch="Habilidades">Habilidades</h1>
    <p>Aquí una lista de las habilidades que más he usado.</p>
    <div id="skills-icons">
        <img src="assets/icono-html.png" class="icon">
        <img src="assets/icono-css.png" class="icon">
        <img src="assets/icono-javascript.png" class="icon">
        <img src="assets/icono-typescript.png" class="icon">
        <img src="assets/icono-sql.png" class="icon">
        <img src="assets/icono-python.png" class="icon">
        <img src="assets/icono-java.png" class="icon">
        <img src="assets/icono-nodejs.png" class="icon">
        <img src="assets/icono-react.png" class="icon">
        <img src="assets/icono-angular.png" class="icon">
        <img src="assets/icono-git.png" class="icon">
    </div>
    <div id="estudios">
        <p>He cursado hasta el segundo año de Ingeniería en Informática, el cual abandoné al considerar que no era la carrera que me permitiría acercarme más a la profesión de programador. Sin embargo, atesoro los conocimientos adquiridos en ese ciclo. Actualmente, estoy cursando la carrera de Analista de Sistemas en el Instituto ISET de Mar del Plata.</p>
    </div>
</div>
<app-footer></app-footer>